*{
    margin: 0;
    padding: 0;
    
}


.wrap{
    max-width: 1000px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;

    grid-template-rows: 150px 150px 150px 150px 150px;
    gap: 1rem;
}
.box{
    background-color: brown;
}
.box:nth-child(1){
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 5;
}
.box:nth-child(2){
    grid-row-start: 2;
    grid-row-end:5;
    grid-column-start: 1;
    grid-column-end: 2;
}
.box:nth-child(3){
    grid-row-start: 2;
    grid-row-end:4;
    grid-column-start: 2;
    grid-column-end: 4;
}
.box:nth-child(4){
    grid-row-start: 5;
    grid-row-end:6;
    grid-column-start: 1;
    grid-column-end: 5;
}
